* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DynaPuff; 
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: 300px;
  gap: 5px;
  margin: auto;
  position: relative;
  width: 920px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.symbol {
  color: papayawhip;
  font-size: 200px;
  text-align: center;
  line-height: 300px;
}
.cell {
  background-color: #038aac;
}
.banner {
  position: absolute;
  background-color: pink;
  width: 1200px;
  margin-left: -140px;
  height: 400px;
  margin-top: 250px;
  opacity: 95%;
}
.banner h1 {
  color: gray;
  text-align: center;
  line-height: 400px;
  font-size: 80px;
}

.button {
  background-color: #038aac;
  color: papayawhip;
  font-size: 25px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
}
